.outputBox {
  padding: 3vh;
  text-align: left;
  background-color: #eaeaea;
  color: black;
  width: 52vw;
  height: 45vh;
  position: absolute;
  left: 6vw;
  top: 18vh;
  border-radius: 2.5vh;
}

.cSelect {
  font-size: 2vw;
  border-radius: 0.75vh;
  border-width: 0;
  background-color: #eaeaea;
  width: 20vw;
  height: 7vh;
  padding-left: 1vw;
  position: absolute;
  left: 6vw;
  top: 4vh;
}

.cSelect:focus {
  outline: none;
}

.paramSlider {
  width: 30vw;
  margin-left: 4vw;
  margin-right: 2vw;
}

.repContainer {
  font-size: 3vh;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  position: absolute;
  bottom: 22vh;
  left: 6vw;
}

.compContainer {
  font-size: 3vh;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  position: absolute;
  bottom: 12vh;
  left: 6vw;
}

.topicContainer {
  text-align: left;
  font-size: 4vh;
  width: 35vw;
  height: 30vh;
  background-color: transparent;
  border-radius: 2.5vh;
  position: absolute;
  right: .5vw;
  top: 10vh;
}

#topicInput {
  margin-top: 2.5vh;
  width: 30vw;
  height: 25vh;
  border-radius: 2.5vh;
  border: 0;
  background-color: #eaeaea;
  padding: 5%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#topicInput:focus {
  outline: none;
}

.structContainer {
  text-align: left;
  font-size: 4vh;
  width: 35vw;
  height: 30vh;
  background-color: transparent;
  border-radius: 2.5vh;
  position: absolute;
  right: .5vw;
  top: 52vh;
}

#structInput {
  margin-top: 2.5vh;
  width: 30vw;
  height: 25vh;
  border-radius: 2.5vh;
  border: 0;
  background-color: #eaeaea;
  padding: 5%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#structInput:focus {
  outline: none;
}

#genBtn {
  font-size: 2vw;
  border-radius: 0.75vh;
  border-width: 0;
  background-color: #eaeaea;
  width: 10vw;
  height: 7vh;
  position: absolute;
  left: 28vw;
  top: 4vh;
}

#genBtn:active {
  background-color: #c0c0c0;
}

#genBtn:not(:active) {
  background-color: #eaeaea;
}
